ul {
  list-style-type: none;
}
.logo {
  color: white;
  font-size: 2em;
  text-decoration: none;
  font-weight: 900;
}
.icon-color {
  color: white !important;
}
.copyright {
  font-size: 0.8rem;
  opacity: 50%;
  color: white;
}
.footer-section{
  background-color: black;
  padding: 75px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  height: 100px;
  line-height: 23px;
  
}
.footer-logo-social-container{
  display:flex;
}
.logo-social{
  display:flex;
}
.ft-social{
  display: flex;
  justify-content: space-between;
  margin-left: -15rem;
  margin-top: -10px;
  padding-left: 9rem;
}
.ft-social .ft-social-list{
  display:flex;
  justify-content:space-around;
  align-items:inherit;
}
.ft-social .ft-social-list .ft-social-list-links{
  display:flex;
  justify-content:space-around;
  margin:10px;
}
.footer-2 {
  
  display:flex;
  flex-direction: column;
  transition: max-height 0.2s ease-out;
}
.footer-2>ul{
  display:flex;
  flex: wrap;
}


 .footer-2 ul > li {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content:space-between;
}
.footer-2 li a{
  color: #FFFFFF80;
  list-style-type: none;
  margin: 26px;
  text-decoration: none;
}

@media (min-width: 530px) and (max-width:768px){
  .footer-2{
    display:none;
  }
  .ft-social{
    display: flex;
    justify-content: space-between;
    /* margin-left:0px;
    margin-top: 2px;
    padding-left: 9rem; */
  }
}

@media screen and (min-width:100px)and (max-width:529px) {
  .footer-2{
    display:none;
  }
}